.container{
    width: 100%;
    box-sizing: border-box;
}

.navbar{
    background-color: #373c3f;
}

.navbar-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

.navbar-navigation {
    font-size: 12px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding: 0 0 0 19px;
}

.navbar-toggler {
    display: flex;
    flex-direction: column;
    padding: 18px 27px 18px 13px;
    background-color: #202529;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
}
  
.hamburger-box {
    display: inline-block;
    position: relative; 
}
  
.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; 
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 16px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; 
}

.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -4px;
}

.hamburger-inner::after {
    bottom: -4px; 
}

.hamburger_active div:before {
    display: none;
}

.hamburger_active div {
    transform: rotate(-20deg);
    top: 1px;
}

.hamburger_active div:after {
    top: 0;
    transform: rotate(90deg);
}

.navbar-nav{
    display: flex;
    flex-direction: column;
    visibility: hidden;
    position: absolute;
    top: 37px;
    right: 0;
}

.navbar-nav-link{
    color: rgba(68, 68, 68, 255); 
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-size: 12px;
    line-height: 31.5px;
    cursor: pointer;
    padding: 0 0 0 15px;
    background-color: #fafafa;
    border: 0.5px solid lightgrey;
    width: 165px;
    display: inline-block;
}

.navbar-nav-link:hover {
    background-color: #f5f5f5;
}

.navbar-logo {
    display: none;
}

.header {
    padding: 14px 128px 94px 21px;
    background: url(../img/header1.png) no-repeat center/cover;
}

.header-title {
    font-size: 15px;
    line-height: 23px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    word-spacing: -1.4px;
    letter-spacing: 0.8px;
    margin-bottom: 5px;
}

.header-title-letter {
    letter-spacing: 0.7px;
}

.header-link {
    text-decoration: none;
    color: #a6d6e0;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: 0.1px;
}

.menu {
    padding: 5px 0 5px 0;
    overflow: hidden;
}

.menu-category-item {
    text-decoration: none;
    margin-bottom: 2px;
}

.menu-category-link {
    text-decoration: none;
    display: block;
}

.menu-link-flex {
    display: flex;
}

.menu-pizza {
    background-image: url(../img/Pizza.png);
    background-position: 100% 95%;
    background-size: cover;
    background-repeat: no-repeat;
}

.menu-salad {
    background-image: url(../img/Salads.png);
    background-position: 100% 95%;
    background-size: cover;
    background-repeat: no-repeat;
}

.menu-desert {
    background-image: url(../img/Desserts.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.menu-link-text {
    font-size: 20px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    width: 100%;
    text-align: center;
    align-self: stretch;
    padding-top: 23px;
}

.menu-link-arrow {
    padding: 29px 32px 32px 30px;
    font-size: 12px;
    font-weight: 300;
    background-color: #acd8ad;
    display: inline-block;
    color: #ffffff;
}

.menu-pizza-position {
    position: relative;
    top: 0;
    left: 2px;
}

.menu-salad-position {
    position: relative;
    top: 3px;
    left: 12px;
}

.menu-desert-position {
    position: relative;
    top: 2px;
    right: 2px;
}

.menu-category {
    margin-bottom: 22px;
}

.menu-logo-img {
    display: none;
}

.menu-caption {
    font-size: 20px;
    color: #3f4043;
    font-family: "Lato", sans-serif;
    margin: 0 0 3px 9px;
}

.menu-description {
    font-size: 10px;
    color: #cbccce;
    font-family: "Lato", sans-serif;
    margin: 0 0 11px 10px;
}

.menu-bar-dark {
    background-color: #3f4043;
    font-size: 20px;
    color: #acd8ad;
    font-family: "Lato", sans-serif;
    padding: 8px 0 9px 19px;
}

.menu-bar-denomination {
    padding: 12px 16px 0 18px;
}

.menu-bar-denomination-flex {
    display: flex;
    justify-content: space-between;  
    align-items: center;
}

.menu-bar-denomination-caption {
    font-size: 15px;
    color: #3f4043;
    font-family: "Lato", sans-serif;
    font-weight: 600;
}

.menu-bar {
    margin: 15px 0 18px 0;
}

.menu-bar-item {
    margin-bottom: 9px;
}

.menu-item-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: rgba(63, 64, 67, 255);
    font-family: "Lato", sans-serif;  
}

.menu-item-flex-item {
    word-spacing: -0.4px;
    letter-spacing: -0.3px;
    font-weight: 600;
}

.menu-item-flex-price {
    font-weight: 700;
    letter-spacing: -0.1px;
}

.menu-bar-item-description {
    font-size: 9px;
    color: #3f4043;
    font-family: "Lato", sans-serif;
    margin-top: 7px;
    word-spacing: 1.3px;
    letter-spacing: -0.1px;
    line-height: 10px;
    font-weight: 600;
}

.menu-bar-item-description-word {
    word-spacing: -0.5px;
}

.menu-img-position {
    position: relative;
    right: 7px;
}

.menu-img-position1 {
    position: relative;
    bottom: 3px;
}

.menu-img-position2 {
    position: relative;
    right: 5px;
}

.menu-bar-light {
    background-color: #acd8ad;
    font-size: 20px;
    color: #ffffff;
    font-family: "Lato", sans-serif;
    padding: 8px 0 9px 19px;
    margin-top: 30px;
}

.menu-bar-position {
    position: relative;
    top: 1px;
    right: 1px;
}

.menu-bar-denomination-position {
    position: relative;
    bottom: 2px;
}

.menu-bar-light-position {
    position: relative;
    top: 2.5px;
    left: 1px;
}

.menu-bar-light-position-top {
    position: relative;
    bottom: 5px;
}

.menu-bar-denomin-position {
    position: relative;
    bottom: 2px;
    right: 1px;
}

.menu-bar-denomination:last-child {
    padding: 12px 16px 0 18px;
}

.footer {
    margin-top: 20px;
    background-color: #acd8ad;
    padding: 12px 0;
    text-align: center;
}

.footer-copy {
    font-size: 12px;
    line-height: 17px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
}

@media only screen and (min-width: 640px) {
    .navbar-navigation {
        font-size: 24px;
        line-height: 26px;
    }

    .navbar-toggler {
        padding: 28px 40px 28px 19px;
    }

    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        width: 26px;
        height: 4px;
    }

    .hamburger-inner::before {
        top: -6px;
    }
    
    .hamburger-inner::after {
        bottom: -6px; 
    }

    .header {
        padding: 20px 230px 190px 21px;
    }

    .header-title {
        font-size: 36px;
        line-height: 38px;
    }

    .header-link {
        font-size: 24px;
        line-height: 64px;
    }

    .navbar-nav{
        top: 55px;
    }

    .navbar-nav-link{
        font-size: 14px;
        line-height: 45px;
        width: 235px;
    }

    .menu-link-text {
        font-size: 36px;
        padding-top: 53px;
    }

    .menu-link-arrow {
        font-size: 26px;
        padding: 63px 62px 60px 60px;
    }

    .menu-category {
        margin-bottom: 45px;
    }

    .menu-caption {
        font-size: 40px;
        margin: 0 0 5px 9px;
    }
    
    .menu-description {
        font-size: 20px;
        margin: 0 0 20px 10px;
    }

    .menu-bar-dark {
        font-size: 40px;
        padding: 18px 0 19px 19px;
    }

    .menu-bar-light {
        font-size: 40px;
        padding: 18px 0 19px 19px;
    }

    .menu-bar-denomination {
        padding: 22px 16px 0 18px;
    }

    .menu-bar-denomination-caption {
        font-size: 30px;
    }

    .menu-item-flex {
        font-size: 27px;
    }

    .menu-bar-item-description {
        font-size: 18px;
        line-height: 22px;
        margin-top: 17px 0 15px 0;
    }

    .footer {
        margin-top: 25px;
        padding: 22px 0;
    }
    
    .footer-copy {
        font-size: 18px;
        line-height: 26px;
    }

    .menu-img-size {
        height: 48px;
    }
} 

@media only screen and (min-width: 980px) {
    .navbar {
        padding: 8px 30px 8px 0;
    }

    .navbar-navigation {
        display: none;
    }

    .navbar-toggler {
        display: none;
    }

    .navbar-logo {
        display: inline-block;
    }

    .navbar-nav{
        display: flex;
        flex-direction: row;
        visibility: visible;
        position: static;
    }

    .navbar-nav-link{
        font-size: 15px;
        color: #ebebeb;
        background-color: transparent;
        border: 0;
        display: inline;
        text-transform: uppercase;
        margin-left: 10px;
    }

    .navbar-nav-link:hover{
        background-color: transparent;
    }

    .header {
        padding: 35px 380px 260px 21px;
        margin-bottom: 2px;
    }

    .header-title {
        font-size: 54px;
        line-height: 64px;
        margin-bottom: 35px;
    }

    .header-link {
        font-size: 34px;
    }

    .menu-category {
        display: flex;
        width: 100%;
        overflow: hidden;
    }

    .menu-category-item {
        width: 33%;
    }

    .menu-category-item:nth-child(2) {
        width: 34%;
    }

    .menu-link-text {
        font-size: 36px;
        padding: 150px 0;
    }

    .menu-link-arrow {
        display: none;
    }

    .menu-logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px 10px 0;
    }

    .menu-logo-img {
        display: inline;
    }

    .menu-caption {
        font-size: 34px;
    }

    .menu-darklight-flex {
        display: flex;
    }

    .menu-darklight-item {
        width: 50%;
    }

    .menu-bar-dark {
        font-size: 34px;
        padding: 18px 0 19px 19px;
    }

    .menu-bar-light {
        font-size: 34px;
        padding: 18px 0 19px 19px;
        margin-top: 0; /* fix */
    }

    .menu-bar-denomination-caption {
        font-size: 27px;
    }

    .menu-item-flex {
        font-size: 24px;
    }

    .menu-bar-item-description {
        font-size: 16px;
        line-height: 20px;
    }

    .footer {
        margin-top: 25px;
        padding: 10px 25px;
    }

    .footer-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer-copy {
        font-size: 18px;
        line-height: 26px;
        display: inline-block;
    }

    .menu-img-size {
        height: 42px;
    }
}

@media only screen and (min-width: 1200px) {
    .header {
        padding: 50px 580px 380px 21px;
    }

    .header-title {
        font-size: 62px;
        margin-bottom: 35px;
    }

    .header-link {
        font-size: 38px;
    }

    .menu-link-text {
        font-size: 43px;
        padding: 180px 0;
    }

    .menu-caption {
        font-size: 40px;
    }

    .menu-bar-dark {
        font-size: 40px;
    }

    .menu-bar-light {
        font-size: 40px;
    }

    .menu-bar-denomination-caption {
        font-size: 30px;
    }

    .menu-item-flex {
        font-size: 27px;
    }

    .menu-bar-item-description {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.3px;
    }

    .menu-img-size {
        height: 48px;
    } 
} 